@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Ubuntu', Helvetica, sans-serif;
}

h3 {
    margin-bottom: 1rem;
}

img {
    height: 100%;
}

.sobreposicao {
    position: absolute;
    z-index: 2;
}

p {
    line-height: 1.2;
}

.oculto {
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 1;
    width: 100%;
    animation: overlay .3s ease-out 1 forwards;
}

.data {
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ccc;
    -moz-box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: aparecer .3s ease-out 1 forwards;
}

area {
    cursor: pointer;
}

#parabrisa {
    bottom: 30px;
    left: 30px;
}

#retrovisor-dir {
    bottom: 30px;
    left: 30px;
}

#espelho-retrovisor {
    bottom: 30px;
    left: 30px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

span.html-tag::before {
    content: "<";
}

span.html-tag::after {
    content: ">";
}

@keyframes aparecer {
    from {
        margin-left: -50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes overlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    font-size: 1.5rem;
    margin: 5px 0 0 5px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: .8rem;
    margin: 0 0 5px 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: initial;
}