* {
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
}

body {
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
}

.oculto {
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0008;
    z-index: 1;
    width: 100%;
}

.data {
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 40px -10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    animation: aparecer .3s ease-out 1 forwards;
}

area {
    cursor: pointer;
}

#parabrisa {
    top: 30%;
    left: 80px;
}

#retrovisor-dir {
    top: 30%;
    left: calc(50% - 100px);
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes aparecer {
    from {
        margin-left: -50px;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}